<nav class="sicky-footer"> 
    <div class="nav-wrapper black">
        <p>
            Music Player Goes Here
        </p>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

        </ul>
    </div>
</nav>