<nav id="navBar"> 
    <div class="nav-wrapper black">
        <img src="/images/logos/cue_big_thicc.JPG" width="auto" height="100%">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>Welcome <span class="member-name"></span></li>
            <li><a href="/settings">Settings</a></li>
            <li></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>