<nav id="navBar"> 
    <div class="nav-wrapper black">
        <img src="/images/logos/cue_big_thicc.JPG" width="auto" height="100%">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Back Home</a></li>
        </ul>
    </div>
</nav>