<nav id="navBar"> 
    <div class="nav-wrapper black">
        {{> logo}}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>Welcome <span class="member-name"></span></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>