{{!-- Preliminary Modal --}}
<div id="preliminary-modal" class="modal">
    <form class="modal-content">
        <h1>Hold up...</h1>
        <p>Before you get started, we just have a few more questions to ask</p>

        <label for="firstname"><b>First Name</b></label>
        <input type="text" placeholder="First Name" name="firstname" required>

        <label for="lastname"><b>Last Name</b><i>(optional)</i></label>
        <input type="text" placeholder="Last Name" name="lastname" required>

        <div>
            <button type="button" id="cancelbtn">Cancel</button>
            <!--Button doesn't work yet-->
            <button type="submit" id="signupbtn">Done</button>
        </div>
    </form>
</div>

<script src='/js/modal/profile-onload-modal.js'></script>