<!DOCTYPE html>
<html lang="en-us">
  <head>
  <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <!-- Font Awesome CDN -->
    <script src="https://kit.fontawesome.com/d7e1e16ae2.js"></script>
    <!-- Google Fonts CDN -->
    <link
      href="https://fonts.googleapis.com/css?family=Domine&display=swap&effect=fire-animation|fire|3d|shadow-multiple"
      rel="stylesheet">
      <!--Animate.Css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <!-- Jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    {{{ body }}}
    
    <script src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/assets/javascript/app.js"></script>
  </body>
</html>