<nav>
    <div class="nav-wrapper black">
        <a href="/" class="brand-logo">CUE</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/homepage">Our Mission</a></li>
            {{!-- <li><a href="/login">Login</a></li> --}}
            {{!-- <li><button id="sign-up-button">Sign Up</button></li><!--Changed to a button while I fiddled with modals--> --}}
        </ul>
    </div>
</nav>

<div class="parallax-container">
    <div class="container">
        <div class="row">
            <div class="col l8 s12 white-text">
                <h4 class="thin-text valign">HomePage</h4></I></h4>
            </div>
        </div>
        <div class="row">
            <div class="col 14">
                <a class="waves-effect btn-large hoverable black">Link</a>
            </div>
        </div>
    </div>

    <div class="parallax"><img src="/images/img038 copy.jpg" alt="Picture of band"></div>
</div>


<div class="container">
   
    <div class="row">
        <div class="col s12 m7">
    <h2 class="header">Profile Name Goes here</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://via.placeholder.com/250x500">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>


        
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="column l10 offset-l1 valign">
                <h2 class="center-align white-text cta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, suscipit natus. Perferendis perspiciatis minima non possimus omnis, voluptatem nemo, ex autem ratione quaerat repellendus blanditiis! Saepe, pariatur! Exercitationem, odio unde.</h2>
                <a href="#" class="center btn-large hoverable black">text</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/band.jpg"></div>
</div>

<script src="/js/cue.js"></script>

<!--Some positioning and spacing issues need to be addressed-->
<!--Sign Up Modal Stuff-->


<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
<script src='/js/signup-modal.js'></script>