{{!-- <div class="parallax-container"> --}}
  <div class="card-image-two">
    <div class="row">
      <div class="col">
        <img src="" width="50%" alt="">
        <div class="col s8 offset-s4">
          <div class="parallax"><img src="/images/image02.jpg" width="100%" alt="band image">
        </div>
        <div class="col s8 pull-s4">
          <img src="/images/collaboratetxt.png" width="90%" alt="collaborate png txt">
    </div>
    </div>
  </div>
  </div>
{{!-- </div> --}}

<div class="container">
  <div class="row">
    <div class="col">
    <img src="/images/shapepng.png" width="80%" alt="shape image">
    </div>
  </div>
</div>

<div class="card-image-three">
  <div class="row">
    <div class="col s6">
      <img src="/images/image03.jpg" width="100%" alt="guitar player">
    </div>
<div class="col s6 offset-s6 center-align">
      <p class="paragraph-vision">
        <h4>Vision</h4>
      </p>CUE was created with the intention of facilitating harmonious connections between <br> like-minded musicians, industry professionals
      and venues.
      </p>
      </div>
      <div class="col s6 offset-s6 center-align">
      <p class="paragraph-two">
        <h4>++++++++++</h4>
      </p>Book gigs with venues
          <br><br>
          Attract and approach
          <br><br>
          Exchange knowledge
          <br><br>
          Engage in community
          <br><br>
          Promote your work
          </p>
          <h4>++++++++++</h4>
      </div>
    </div>
  </div>
</div>

<div class="card-image-four">
  <div class="row">
    <div class="col s4"> 
      <img src="/images/unitetxt.png" width="80%" alt="unite txt">
    </div>
    <div class="col s9 offset-s3">
      <img src="/images/image04.jpg" width="100%" alt="collaboration image">
    </div>
    <div class="col s6 offset-s3">
      <img src="/images/engagetxt.png" width="70%" alt="engage txt">
    </div>
  </div>
</div>

<footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Content</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Follow Us</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Armon Hilary Liz Jackson
            </div>
          </div>
        </footer>

