<nav>
    <div class="nav-wrapper black">
      <a href="#" class="brand-logo">CUE</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Our Mission</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
    </div>
  </nav>

<div class="parallax-container">
        <div class="container">
            <div class="row">
                <div class="col l8 s12 white-text">
                    <h4 class="thin-text valign">text</I></h4>
                </div>
            </div>
            <div class="row">
                <div class="col 14">
                    <a class="waves-effect btn-large hoverable black">text</a>
                </div>
            </div>
        </div>
        
        <div class="parallax"><img src="/images/img038 copy.jpg" alt="Picture of band"></div>
      </div>


<div class="container">
    <div class="row">
        <h2>text</h2>
    </div>
    <div class="row">
        <div class="col s4">
            <div class="card medium grey lighten-2 z-depth-2">
                <div class="card-content white-text">
                    <h3 class="center-align"><i class="material-icons">account_circle</i></h3>
                    <div class="divider"></div>
                    <span class="card-title">text</span>
                    <p>text</p>
                </div>
                    <div class="card-action">
                        <a href="#">text</a>
                    </div>
                
            </div>
        </div>

        <div class="col s4">
            <div class="card medium grey lighten-2 z-depth-2">
                <div class="card-content white-text">
                    <h3 class="center-align"><i class="material-icons">account_circle</i></h3>
                    <div class="divider"></div>
                    <span class="card-title">text</span>
                    <p>text</p>
                </div>
                    <div class="card-action">
                        <a href="#">text</a>
                    </div>
                
            </div>
        </div>

        <div class="col s4">
                <div class="card medium grey lighten-2 z-depth-2">
                    <div class="card-content white-text">
                        <h3 class="center-align"><i class="material-icons">account_circle</i></h3>
                        <div class="divider"></div>
                        <span class="card-title">text</span>
                        <p>text</p>
                    </div>
                        <div class="card-action">
                            <a href="#">text</a>
                        </div>
                    
                </div>
            </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="column l10 offset-l1 valign">
                <h2 class="center-align white-text cta">text</h2>
                <a href="#" class="center btn-large hoverable black">text</a>
            </div>
        </div>
    </div>
        <div class="parallax"><img src="/images/band.jpg"></div>
      </div>

      <script src="/js/cue.js"></script>


<script src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
<script src='/js/signup-modal.js'></script>
