<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Settings</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
</ul>

<nav id="navBar"> 
    <div class="nav-wrapper black">
        <img src="/images/logos/cue_big_thicc.JPG" width="auto" height="100%"> 
          
         <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>Welcome <span class="member-name"></span></li>

            <li><a href="/homepage">Home</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
            
            {{!-- <!-- Dropdown for Settings/Logout/Etc-->
            <li>
                <div class="dropdown">
                    <button class="dropbtn">
                        Dropdown <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div> 
            </li> --}}
        </ul>
    </div>
</nav>