<!-- Login Modal Stuff-->
<div id="login-modal" class="modal">
    <form class="login modal-content-2">
        <div class="modal-header">
            <h1 class="mod-header">Login</h1>
        </div>
        <label for="email"><b>Email</b></label>
        <input id="login-email-input" type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input id="login-password-input" type="password" placeholder="Enter Password" name="psw" required>

        <div class="mFooter">
            <button class="waves-effect waves-light btn blue" type="button" id="login-cancelbtn">Cancel</button>
            <button class="waves-effect waves-light btn blue" type="submit" id="login-btn">Log In</button>
        </div>
    </form>
</div>

<!--Sign Up Modal Stuff-->
<div id="sign-up-modal" class="modal">
    <form class="signup modal-content">
        <div class="modal-header">
            <h1 class="mod-header">Sign Up</h1>
        </div>
        <div>
            <label for="email"><b>Email</b></label>
            <input class="modal-input" id="email-input" type="text" placeholder="Enter Email" name="email">
        </div>
        <div>
            <label for="psw"><b>Password</b></label>
            <input class="modal-input"  id="password-input" type="password" placeholder="Enter Password" name="psw">
        </div>
        <div>
            <label for="firstname"><b>First Name</b></label>
            <input class="modal-input" id="first-name-input" type="text" placeholder="First Name" name="firstname">
        </div>
        <div class="mFooter">
            <button class="waves-effect waves-light btn blue" type="button" id="cancelbtn">Cancel</button>
            <button class="waves-effect waves-light btn blue" type="submit" id="signupbtn">Sign Up</button>
        </div>
    </form>
</div>