body {
    margin:0;
    overflow:hidden;
    padding:0;
  }
  
  .screen {
    animation:colorPulse 5s infinite ease-in-out;
    background-image:radial-gradient(#444, #111);
    box-shadow:0 0 5vmin 1vmin #000 inset;
    box-sizing:border-box;
    font-family:'Fira Mono', monospace;
    font-size:20px;
    height:100vh;
    overflow:scroll;.
    padding:10vmin;
    width:100vw;
  }

  .screen2 {
    animation:colorPulse 5s infinite ease-in-out;
    background-image:radial-gradient(#444, #111);
    box-shadow:0 0 5vmin 1vmin #000 inset;
    box-sizing:border-box;
    font-family:'Fira Mono', monospace;
    font-size:20px;
    height:50vh;
    overflow:scroll;.
    padding:10vmin;
    width:50vw;
  }

  .screen2:before {
    animation:wave 10s infinite ease-in-out;
    content:"";
    height:20vh;
    left:0;
    opacity:.5;
    position:absolute;
    right:0;
    z-index:1;
  }
  
  .screen2:after {
    background-image:linear-gradient(transparent, transparent 3px, #222);
    background-size:4px 4px;
    bottom:0;
    content:"";
    left:0;
    pointer-events:none;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
  }
  
  .box{
      left: 0px;
  }
  
  .screen:before {
    animation:wave 10s infinite ease-in-out;
    content:"";
    height:20vh;
    left:0;
    opacity:.5;
    position:absolute;
    right:0;
    z-index:1;
  }
  
  .screen:after {
    background-image:linear-gradient(transparent, transparent 3px, #222);
    background-size:4px 4px;
    bottom:0;
    content:"";
    left:0;
    pointer-events:none;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
  }
  
  a:link {
    text-decoration: none;
    color: #0c0
  }
  
  a:visited {
    text-decoration: none;
    color: #060
  }
  
  a:hover {
    text-decoration: none;
    color: #ffffff
  }
  
  a:active {
    text-decoration: none;
    color: #00cc00
  }
  
  button{
    border-color: #0c0;
    background-color: #060;
    color: #fff;
    font-family:'Fira Mono', monospace;
    font-size: 30px;
  }
  
  input{
    background: transparent;
    border: #0c0 solid 1px;
    color: #0c0
  }
  
  select{
    background: transparent;
    border: none;
    color: #0c0
  }
  
  p:last-child:after {
    animation:blink 1s infinite;
    content:"_";
  }
  
  @keyframes colorPulse {
    0%, 100% {
      color:#0c0;
    }
    48%, 52% {
      color:#090;
    }
    50% {
      color:#060;
    }
  }
  
  @keyframes wave {
    0% {
      box-shadow:0 -10vh 20vh #0c0;
      top:-100vh;
    }
    48%, 52% {
      box-shadow:0 -10vh 20vh #090;
    }
    50% {
      box-shadow:0 -10vh 20vh #060;
    }
    100% {
      box-shadow:0 -10vh 20vh #0c0;
      top:200vh;
    }
  }
  
  @keyframes blink {
    50% {
      opacity:0;
    }
  }