.sticky {
    position: fixed;
    top: 0;
    z-index: 100000;
}

.sticky-footer {
    position: fixed;
    background-color: black;
    color: #fff;
    width: 100%;
    bottom: 0;
    z-index: 100000;
}

/* .input-field{
    float: left;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%
} */