/* ========================================================================== */
/* Hidden Scroll Bar */
/* ========================================================================== */
html {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.nav-wrapper {
  padding: 0px 10px;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
.list-group-item {
    line-height: 2.5;
  }
  
  .logo {
    font-weight: 300;
    padding-left: 10px;
  }
  
  .parallax img {
    width: 100%;
  }
  
  .parallax-container {
    height: "500px";
  }
  .parallax-container-homepage {
    height: "500px";
  }
  .col {
    margin: 10px;
  }
  /* Spotify and Youtube images */
  .spotify, .youtube {
    max-width: 120px;
    max-height: 90px;

  }
  .card {
    opacity: .9;
  }

h4{
  font-family: 'Megrim', cursive;
}

div.shape-img {
  position: relative;
  margin-top: -50px;
  margin-bottom: -150px;
}

div.sync-txt {
  position: relative;
  margin-bottom: -50px;
}

div.text-collab {
  /* margin-top: -300px; */
  position: relative;
  right: 150px;
  /* top: 20px; */
}

div.section-one {
  position: relative;
  left: 400px;
}

p.paragraph-vision {
  position: relative;
}

div.on-txt {
  position: relative;
  margin-top: -800px;
  right: -450px;
}

div.cue-txt {
  position: relative;
  right: -200px;
  margin-top: -50px;
}
