.skw-pages {
    overflow: hidden;
    position: relative;
    height: 100vh;
  }
  
  .skw-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .skw-page__half {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100vh;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
  }
  
  .skw-page__half--left {
    left: 0;
    -webkit-transform: translate3d(-32.4vh, 100%, 0);
    transform: translate3d(-32.4vh, 100%, 0);
  }
  
  .skw-page__half--right {
    left: 50%;
    -webkit-transform: translate3d(32.4vh, -100%, 0);
    transform: translate3d(32.4vh, -100%, 0);
  }
  
  .skw-page.active .skw-page__half {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .skw-page__skewed {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 140%;
    height: 100%;
    -webkit-transform: skewX(-18deg);
    -ms-transform: skewX(-18deg);
    transform: skewX(-18deg);
    background: #000;
  }
  
  .skw-page__half--left .skw-page__skewed { left: -40%; }
  
  .skw-page__half--right .skw-page__skewed { right: -40%; }
  
  .skw-page__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 30%;
    color: #fff;
    -webkit-transform: skewX(18deg);
    -ms-transform: skewX(18deg);
    transform: skewX(18deg);
    -webkit-transition: -webkit-transform 1s, opacity 1s;
    transition: transform 1s, opacity 1s;
    background-size: cover;
  }
  
  .skw-page__half--left .skw-page__content {
    padding-left: 30%;
    padding-right: 30%;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  
  .skw-page__half--right .skw-page__content {
    padding-left: 30%;
    padding-right: 30%;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  
  .skw-page.inactive .skw-page__content {
    opacity: 0.5;
    -webkit-transform: skewX(18deg) scale(0.95);
    -ms-transform: skewX(18deg) scale(0.95);
    transform: skewX(18deg) scale(0.95);
  }
  
  .skw-page__heading {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
  }
  
  .skw-page__description {
    font-size: 18px;
    text-align: center;
  }

.skw-page-1 .skw-page__half--left .skw-page__content { 
  background-image: url("1.jpg"); 
}

.skw-page-1 .skw-page__half--right .skw-page__content { 
  background: #292929;
}

.skw-page-2 .skw-page__half--left .skw-page__content {
   background: #292929; 
}

.skw-page-2 .skw-page__half--right .skw-page__content {
   background-image: url("2.jpg"); 
}

.skw-page-3 .skw-page__half--left .skw-page__content {
   background-image: url("1.jpg"); 
}

.skw-page-3 .skw-page__half--right .skw-page__content {
  background: #292929; 
}

.skw-page-4 .skw-page__half--left .skw-page__content {
   background: #292929; 
}

.skw-page-4 .skw-page__half--right .skw-page__content {
   background-image: url("2.jpg"); 
}

/* .skw-page-1, .skw-page-2, .ske-page-3, .skw-page-4{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
    